doctype html 
html 
    head 
        title 내 홈페이지
    body 
        h1 학번 : 
            span= student.st_num
        h1 이름 :
            span= student.st_name
        h1 학과 : 
            span= student.st_dept 
        h1 학년 :
            span= student.st_grade

